body {
  background: #d6d6d6;
}

div.divcontent {
  background: #ffffff;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

td.currency {
  text-align: right;
}

td.action_area{
  text-align: right;
}

fieldset {
  margin-top: 50px;
}

h1 {
  text-align: center;
}

td.name {
  text-align: left;
}

div.alert-margin {
  margin-top: 20px;
}

th {
  text-align: center;
}

table.top {
  margin-top: 50px
}

td.center {
  text-align: center;
}