<p id="notice"><%= notice %></p>

<p>
  <strong>Type description:</strong>
  <%= @component_type.type_description %>
</p>

<%= link_to 'Edit', edit_component_type_path(@component_type) %> |
<%= link_to 'Back', component_types_path %>
